/*All Globals  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}
body,
html {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44;
}

.faded {
  color: rgba(255, 255, 255, 0.8);
}

header.startup {
  background-position: center;
  background-image: url("../img/header.jpg");
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin: 3rem auto;

}

header.startup h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 5px;
  margin-bottom: 5rem;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: inherit;
}

.btn-xl {
  padding: 2rem 4rem;
  backface-visibility: hidden;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}
.fa-id-badge{
  margin-left: 5px;
}
